img{
    max-width: 90%;
}
body{
    margin: 0;
    padding: 0;
}
.sale-main{
    display: block;
}
.container-1{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.sale-main .container-1 .inner-image{
    display: block;
}
.sale-main .container-1 .inner-image .inner-image-1{
    box-sizing: border-box;
    display: flex;
}
.sale-main .container-1 .inner-image .inner-image-2{
    box-sizing: border-box;
    display: flex;
}
span{
    text-transform:capitalize ;
    color: gray;
}